.layout-wrapper {
  display: flex;
  min-height: 100vh;
  height: 100%;
}

.layout-inner {
  flex-grow: 1;
  flex-shrink: 0;
  width: min-content;
  padding: 0 0 0 80px;
}

.nav:hover ~ .layout-inner {
  padding: 0 0 0 300px;
}
